@media ( max-width: 1200px)
    .promo
        padding-left: 20px
        padding-right: 20px
    .advantages
        padding-left: 20px
        padding-right: 20px
    .consultacion
        padding: 100px 20px 92px 20px
    .title
        font-size: 34px
    .carusel
        &__inner
            width: 600px
            img
                width: 100%
    .catalog
        &-inner
            width: 292px
@media ( max-width: 991px)
    .promo
        &__header
            font-size: 35px
        &__subheader
            font-size: 20px
    .advantages
        &__cup
            &_text
                width: 240px
                font-size: 12px
    .consultacion
        padding: 80px 20px 60px 20px
    .title
        font-size: 33px
    .carusel
        ul
            list-style-type: none
            li
                button
                    border: 1px solid red 
                    border-radius: 100%
                    background: white 
                    color: white
                    &:hover
                        background: red 
                        color: red 
    .catalog
        &__content
            justify-content: center
    .reviews
        &__img
            width: 140px
            height: 140px
        &__subtitle
            width: 555px
@media ( max-width: 767px)
    .promo
        &__wrapper
            align-items: center
        .header
            &__official
                display: none
    .advantages
        &__subheader
            flex-direction: column
        &__cup
            &_text
                width: 80%
                font-size: 18px
                display: block
                margin: 20px auto
    .consultacion
        &__descr
            text-align: center
    .feed-form
        margin: 36px auto 0 auto
    .title
        font-size: 28px
        text-align: center
    .carusel
        &__inner
            width: 560px
            img
                width: 100%
    .catalog
        &__tab
            width: 155px
            font-size: 14px
    .reviews
        &__piople
            flex-direction: column
        &__img
            display: block
            margin: 0 auto
            margin-bottom: 10px
        &__header
            text-align: center
        &__title 
            text-align: center
        &__subtitle 
            width: 100%
            font-size: 14px
            padding: 10px
    .footer
        height: 270px
        &__cart
            display: none
        &__info
            width: 100%
@media ( max-width: 575px)
    .promo
        &__icons
            display: none
        &__wrapper
            margin-top: 60px
    .header
        display: block
        &__contacts
            display: block
            margin: 10px auto
        &__phone
            text-align: center
    .button
        display: block
        margin: 10px auto
        &_main
            width: 270px
    .consultacion
        &__descr
            font-size: 18px
    .title
        font-size: 18px
        line-height: 35px
    .feed-form
        width: 100%
    .button
        &_main
            width: 100%
    .carusel
        &__inner
            width: 100%
            img
                width: 100%
    .catalog
        .hrun   
            font-size: 28px
        &__tabs
            flex-direction: column
            align-items: center
        &__tab 
            width: 240px
            font-size: 18px
            margin-top: 10px