
@media (max-width: 991px)
    .promo
        padding-left: 10px
        padding-right: 10px
        &__wrapper
            align-items: center
@media (max-width: 767px)
    .promo
        &__wrapper
            margin-top: 40px