
@import 'vareables'    
.container
    max-width: 950px
    margin: 0 auto
*
    font-family: 'Museo Sans Cyrl', sans-serif

@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/_buttons'
@import 'media'